<h3>Thank You for Registering</h3>

<div class="formGroup" *ngIf="authService.userData as user">
  <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
  <p>Please check your email and click on the link to verfiy your email address.</p>
</div>

<div class="formGroup">
  <button type="button" class="btn btn-warning m-1" (click)="sendVerificationMail()">
    Resend Verification Email
  </button>

  <button type="button" class="btn btn-primary m-1" (click)="navigateToLogin()">
    Go back to Login
  </button>
</div>


