<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="string" class="form-control" id="title"
           formControlName="title" [class.is-invalid]="isInvalid('title')">
    <div class="invalid-feedback">
      Please enter a Title.
    </div>
  </div>
  <div class="form-group">
    <label for="start">Start time</label>
    <input type="string" class="form-control" id="start"
           formControlName="start" [class.is-invalid]="isInvalid('start')">
    <div class="invalid-feedback">
      Please enter a start time and date.
    </div>
  </div>
  <div class="form-group">
    <label for="end">End time</label>
    <input type="string" class="form-control" id="end"
           formControlName="end" [class.is-invalid]="isInvalid('end')">
    <div class="invalid-feedback">
      Please enter an end time and date.
    </div>
  </div>
  <div class="form-group">
    <label for="noOfWorker">Number of worker</label>
    <input type="string" class="form-control" id="noOfWorker"
           formControlName="noOfWorker" [class.is-invalid]="isInvalid('noOfWorker')">
    <div class="invalid-feedback">
      Please enter the required number of worker.
    </div>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary d-inline">Add</button>
  <span class="ml-2">{{ status$ | async }}</span>
</form>
